// UI COLORS
$ui-1: #FFFFFF !default;
$ui-2: #FAFAFA !default;
$ui-3: #F7F7F7 !default;
$ui-4: #EFEFF1 !default;
$ui-5: #E1E1E1 !default;
$ui-6: #ECECEC !default;
$ui-7: #E6E6E6 !default;
$ui-8: #CFCFCF !default;
$ui-9: #56555B !default;
$ui-10: #38414B !default;
$ui-11: #333333 !default;

// General
$color-1: #1D9BDF !default;
$color-2: #0085CB !default;
$color-3: #2E4F82 !default;
$color-4: #244475 !default;
$color-5: #8e8e8e !default;
$color-6: #dcdcdc !default;

// Tints
$tint-1: #FF6A72 !default;
$tint-2: #FF4753 !default;
$tint-3: #AAA6C2 !default;
$tint-4: #888597 !default;
$tint-5: #FEC04A !default;
$tint-6: #FDBB07 !default;
$tint-6: #00D9BD !default;
$tint-7: #3598DD !default;
$tint-8: #1182C9 !default;

// Background
$background: #FFFFFF !default;
