// General font size variables
$header--large: 64px;
$header--medium: 42px;
$header--small: 30px;

$header-label: 16px;
$header-label--small: 12px;

$subtitle: 16px;

$item-heading: 28px;
$item-heading--small: 20px;

$general-text: 18px;
$general-text--small: 16px;
$general-text--xs: 14px;

