.section-work {
  height: auto;

  .container {
    padding: 70px 15% 10px;
    display: block;
    text-align: center;

    background: #232932;

    .work__title {
      display: block;
      color: $ui-1;
      font-size: $header--small;
      font-weight: 500;
      position: relative;
      margin-bottom: 70px;

      &:after {
        display: block;
        content: " ";
        width: 15%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $tint-6;
      }
    }

    .work__subtitle {
      display: block;
      color: $tint-6;
      text-transform: uppercase;
      font-size: $subtitle;
      line-height: 1.4em;
      letter-spacing: 0.21em;
      font-weight: 400;
      margin-bottom: 30px;
    }

    .career__container {
      display: block;

      margin-bottom: 60px;

      .career {
        margin-bottom: 28px;

        h4 {
          margin-bottom: 5px;

          a {
            color: $ui-1;
            font-size: $item-heading--small;
            line-height: 1.2em;
            font-weight: 500;
          }
        }

        span {
          display: block;
          font-family: 'karma', sans-serif;
          font-size: $general-text--xs;
          line-height: 1.4em;
          color: #d7d7d7;
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        li {
          margin-bottom: 26px;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}

@media #{$sm-up} {

  .section-work {
    .container {
      padding: 100px 0 0 120px;
      text-align: left;

      .work__title {
        font-size: $header--medium;

        &:after {
          width: 5%;
          bottom: 5%;
          left: 0;
          transform: none;
        }
      }

      .work__subtitle {
        font-size: $subtitle;
      }

      .career__container {
        display: flex;

        .career {
          flex: 1;
          margin-bottom: unset;

          span {
            font-size: $general-text--small;
          }

          h4 {
            a {
              font-size: $item-heading;
            }
          }

        }
      }
    }
  }
}

@media #{$lg-up} {

  .section-work {
    .container {
      .work__title {
        font-size: $header--large;
      }
    }
  }
}
