<div class="section-contact">
  <div class="container">

    <div class="content">
      <span class="contact__title-label">
        {{ 'CONTACT.TITLE_LABEL' | translate }}
      </span>

      <h2 class="contact__title">
        {{ 'CONTACT.TITLE' | translate }}
      </h2>

      <h5 class="contact__description">
        {{ 'CONTACT.DESCRIPTION' | translate }}
      </h5>

      <a class="btn" href="mailto:mail@wesleyvanderkop.nl">
        <span class="btn-borders btn-borders__top"></span>
        <span class="btn-borders btn-borders__right"></span>
        {{ 'CONTACT.BUTTON' | translate }}
        <span class="btn-borders btn-borders__bottom"></span>
        <span class="btn-borders btn-borders__left"></span>
      </a>
    </div>

    <div class="social">
      <ul>
        <li><a href="https://www.linkedin.com/in/wesley-van-der-kop-571951101">LinkedIn</a></li>
        <li><a href="https://github.com/wesleyvdkop">Github</a></li>
        <li><a href="https://stackoverflow.com/users/7063364/wesley-van-der-kop">Stack Overflow</a></li>
      </ul>
    </div>
  </div>
</div>
