// IMPORT HEAD
@import './head/head';

.section {
  height: 100%;
  background: $ui-1;
  z-index: 1;
  position: relative;
}

@media #{$sm-up} {
  .section {
    padding: 20px;
  }
}

// IMPORT SECTIONS
@import 'sections/section-work';
@import 'sections/section-about';
@import 'sections/section-contact';


