<div class="container">
  <div class="container__left-content">
    <div class="content__overlay"></div>

    <animated-field></animated-field>
  </div>
  <div class="container__right-content">
    <div class="content">
      <div class="content__header">

        <h5 class="content__header-label">
          {{ 'GENERAL.HEADER_LABEL' | translate }}
        </h5>

        <h1 class="content__header-title">
          {{ 'GENERAL.HEADER' | translate }}
        </h1>

        <p class="content__header-description"
              [innerHTML]=" 'GENERAL.HEADER_DESCRIPTION' | translate ">
        </p>
      </div>
    </div>
  </div>
  <!--<span class="next-page__ribbon">-->
    <!--<img src="../../../../assets/icon/arrow_drop_down.svg">-->
  <!--</span>-->
</div>
