<div class="section section-about">

  <div class="content">
    <span class="header-label">
          {{ 'ABOUT.LABEL' | translate }}
    </span>

    <h2 class="header-title">
          {{ 'ABOUT.TITLE' | translate }}
      <ul class="header-title--extra">
        <li>{{ 'ABOUT.TRAVELING' | translate }}</li>
        <li>{{ 'ABOUT.EATING' | translate }}</li>
        <li>{{ 'ABOUT.SLEEPING' | translate }}</li>
      </ul>
    </h2>

    <ul class="info-list">
      <li *ngFor="let info of texts">
        <p class="info"
           [innerHTML]=" 'ABOUT.' + info.translationKey | translate ">
        </p>
      </li>
    </ul>
  </div>
</div>
