.container {
  display: flex;
  height: 100%;
  position: relative;

  &__left-content {
    width: 100%;
    height: 100%;

    position: absolute;

    border: 20px solid $ui-1;
    background: #118aa1;

    .scene {
      height: 100%;
    }

    .scene-path {
      &__one {
        fill: #267FA1;
      }

      &__two {
        fill: #2C7DB5;
      }

      &__three {
        fill: #318BC9;
      }

      &__four {
        fill: $tint-7;
      }

      &__five {
        fill: #47A1E0;
      }

      &__six {
        fill: #59AAE3;
      }

      &__seven {
        fill: #6CB4E6;
      }
    }
  }

  &__right-content {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .content {
      position: absolute;
      top: auto;
      width: 80%;
      transform: translateY(0);
      bottom: 18%;
      left: 5%;

      &__header-label {
        display: block;
        color: $tint-6;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.4em;
        letter-spacing: 0.21em;
        font-weight: 400;

        animation: fadeInDown 1s;
      }

      &__header-title {
        display: block;
        color: $ui-10;
        font-size: 30px;
        font-weight: 500;
        position: relative;

        animation: fadeInDown 1.5s;

        &:after {
          display: block;
          content: " ";
          width: 10%;
          height: 3px;
          position: absolute;
          bottom: 5%;
          left: 0;
          background-color: $tint-6;
        }
      }

      &__header-description {
        display: block;
        max-width: 480px;
        margin-top: 20px;
        font-family: 'karma', sans-serif;
        font-size: 16px;
        line-height: 1.4em;
        font-weight: 400;
        color: $ui-1;

        animation: fadeInDown 2s;
      }
    }

    .next-page__ribbon {
      display: block;
      position: absolute;
      bottom: -40px;
      right: 200px;
      width: 50px;
      height: 100px;
      background-color: $tint-6;
      text-align: center;
      transform-style: preserve-3d;
      cursor: pointer;

      animation: bounceIn .75s;

      img {
        margin-top: 12px;
      }
    }
  }
}

.section-work {
  height: 100vh;
  position: relative;
  background: $ui-1;
  z-index: 1;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);

  .container {
    padding: 100px 0 0 120px;
    display: block;
    background: #232932;

    .work__title {
      display: block;
      color: $ui-1;
      font-size: 4rem;
      font-weight: 500;
      position: relative;
      margin-bottom: 70px;

      &:after {
        display: block;
        content: " ";
        width: 5%;
        height: 3px;
        position: absolute;
        bottom: 5%;
        left: 0;
        background-color: $tint-6;
      }
    }

    .work__subtitle {
      display: block;
      color: $tint-6;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.4em;
      letter-spacing: 0.21em;
      font-weight: 400;
      margin-bottom: 30px;
    }

    .career__container {
      display: flex;
      margin-bottom: 60px;

      .career {
        flex: 1;

        h4 {
          margin-bottom: 5px;

          a {
            color: $ui-1;
            font-size: 1.8rem;
            line-height: 1.2em;
            font-weight: 500;
            position: relative;

            &:after {
              display: block;
              content: " ";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 0;
              height: 2px;
              background-color: $tint-6;
              transition: all 0.2s ease-out;
            }

            &:hover {
              &:after {
                width: 110%;
                left: -5%;
              }
            }
          }
        }

        span {
          display: block;
          font-family: 'karma', sans-serif;
          font-size: 1rem;
          line-height: 1.4em;
          color: #d7d7d7;
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.section-about {
  height: 100vh;
  background: $ui-1;
  z-index: 1;
  position: relative;
}

.section-contact {
  height: 100vh;
  position: relative;
  background: $ui-1;
  z-index: 1;
  padding: 20px;

  .container {
    padding: 100px 0 0 120px;
    display: block;
    background-image: -webkit-linear-gradient(left, #252b35 0%, #252b35 28.05%, #3b3131 100%);

    .content {
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .contact__title-label {
      display: block;
      color: $tint-6;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.4em;
      letter-spacing: 0.21em;
      font-weight: 400;

      animation: fadeInDown 1s;
    }
    .contact__title {
      display: block;
      color: $ui-1;
      font-size: 4rem;
      font-weight: 500;
      position: relative;
      margin-bottom: 40px;

      &:after {
        display: block;
        content: " ";
        width: 5%;
        height: 3px;
        position: absolute;
        bottom: 5%;
        left: 0;
        background-color: $tint-6;
      }
    }

    .contact__description {
      font-family: 'karma', sans-serif;
      font-size: 1.2rem;
      line-height: 1.5em;
      letter-spacing: 0.0184em;
      font-weight: 400;
      color: #dcdcdc;
      width: 60%;
      margin-bottom: 40px;
    }

    .btn {
      position: relative;
      padding: 15px 42px;
      color: $ui-1;
      text-transform: capitalize;

      &:before,
      &:after {
        content: " ";
        position: absolute;
        width: 20px;
        height: 2px;
        background: $tint-6;
        transition: all .15s ease-in-out;
      }

      &:before {
        top: 0;
        right: 0;
      }

      &:after {
        bottom: 0;
        left: 0;
      }

      .btn-borders {
        content: " ";
        position: absolute;
        background: $tint-6;
        transition: all .2s ease-in;
        transition-delay: .1s;

        &__top {
          top: 0;
          left: 0;
          height: 2px;
          width: 80%;
        }

        &__right {
          top: 0;
          left: 0;
          height: 100%;
          width: 2px;
        }

        &__bottom {
          top: auto;
          bottom: 0;
          left: auto;
          right: 0;
          height: 2px;
          width: 80%;
        }

        &__left {
          top: auto;
          bottom: 0;
          left: auto;
          right: 0;
          height: 100%;
          width: 2px;
        }
      }

      &:hover {
        &:before {
          right: 50%;
          transform: translateX(50%);
          transition-delay: .05s;
        }

        &:after {
          left: 50%;
          transform: translateX(-50%);
          transition-delay: .05s;
        }

        .btn-borders {
          opacity: 0;
          transition-delay: 0s;
        }
      }
    }

    .social {
      width: 100%;
      height: auto;
      position: absolute;
      top: auto;
      bottom: 69px;

      ul {
        display: flex;
        font-family: 'karma', sans-serif;
        font-size: 0.9rem;
        line-height: 0.6em;
        letter-spacing: 0.0184em;
        font-weight: 400;

        li {
          margin-right: 15px;
          position: relative;

          &:first-child {
            margin-left: 45px;

            &:after {
              content: " ";
              display: block;
              position: absolute;
              top: auto;
              bottom: 50%;
              left: -45px;
              width: 20px;
              height: 1px;
              background-color: $tint-6;
            }
          }

          a {
            color: #c9c9c9;
            transition: all .25s ease-in-out;

            &:hover {
              color: $tint-6;
            }
          }
        }
      }
    }
  }
}

// Media queries
@media #{$sm-up} {
  .container {

    &__right-content {

      .content {

        &__header-label {
          font-size: 16px;
        }

        &__header-title {
          font-size: 42px;
        }

        &__header-description {
          font-size: 18px;
        }
      }
    }
  }
}

@media #{$lg-up} {
  .container {
    display: flex;
    height: 100%;
    position: relative;

    &__left-content {
      width: 40%;
      position: relative;
      border: 20px solid $ui-1;

      .scene {
        height: 100%;
      }
    }

    &__right-content {
      width: 60%;
      position: relative;

      transform: unset;
      left: unset;

      .content {
        position: absolute;
        top: auto;
        width: 80%;
        transform: translateY(0);
        bottom: 18%;
        left: 5%;

        &__header-label {
          font-size: 16px;
        }

        &__header-title {
          font-size: 64px;
        }

        &__header-description {
          font-size: 18px;
          color: $color-5;
        }
      }
    }
  }
}
