<div class="section-work">
  <div class="container">
    <h2 class="work__title">
      {{ 'WORK.TITLE' | translate }}
    </h2>

    <h3 class="work__subtitle">
      {{ 'WORK.CAREER' | translate }}
    </h3>

    <div class="career__container">
      <div class="career">
        <h4><a href="https://respond.nl" target="_blank">Respond</a></h4>
        <span>{{ 'WORK.RESPOND.TITLE' | translate }}</span>
        <span>{{ 'WORK.RESPOND.TIME' | translate }}</span>
      </div>

      <div class="career">
        <h4><a href="https://mediamonks.com" target="_blank">Mediamonks</a></h4>
        <span>{{ 'WORK.MEDIAMONKS.TITLE' | translate }}</span>
        <span>{{ 'WORK.MEDIAMONKS.TIME' | translate }}</span>
      </div>
    </div>

    <h3 class="work__subtitle">
      {{ 'WORK.PROJECTS' | translate }}
    </h3>

    <div class="career__container">
      <div class="career">
        <h4><a href="https://google.nl" target="_blank">{{ 'WORK.PROJECTS' | translate }}</a></h4>
        <h4><a href="https://google.nl" target="_blank">{{ 'WORK.PROJECTS' | translate }}</a></h4>
        <h4><a href="https://google.nl" target="_blank">{{ 'WORK.PROJECTS' | translate }}</a></h4>
        <h4><a href="https://google.nl" target="_blank">{{ 'WORK.PROJECTS' | translate }}</a></h4>
      </div>
    </div>
  </div>
</div>
